"https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet";

 h2 p .font {
  font-family: font-family: 'Indie Flower', cursive, sans-serif;
}

.board {
  padding; 0px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  width: 300px;
  height: 300px;
  border: 3px solid;
}

#X {
  color: green;
  font-size: 5 em;

}

#O {
  color: red;
  font-size: 5 em;
}

.scoreCarol {

}

.scoreClown {

}
